<app-header></app-header>


<!-- news container -->

<div class="news-container">
    <!-- box1 -->
    <div class="news-box" *ngFor="let sport of sportsNews | filter : searchTerm : 'title'">
        <!-- img -->
        <div class="news-img">
            <img [src]="sport.urlToImage" alt="">
        </div>
        <!-- text -->
        <div class="news-text">
            <div class="author">
                <div class="author1">Author: {{sport.author}}</div>
                <div class="author1">{{sport.publishedAt}}</div>
            </div>
            <a class="news-title" routerLink="/sports">{{sport.title}}</a>
            <p>{{sport.description}}</p>
            <div class="book-mark">
                <a href="{{sport.url}}">Read More...</a>
                <a (click)="addtobookmarks(sport)"><i class="fa-solid fa-bookmark"></i></a>
            </div>
        </div>



    </div>

</div>
<app-imageslide></app-imageslide>
<app-footer></app-footer>