<footer>
    <div class="footer">
        <div class="footer1">
            <div class="footer2">
                <div class="recent-posts">
                    <h6>Recent news</h6>
                    <div class="recent-posts1">
                        <img src="https://images.indianexpress.com/2023/01/jnubbc.jpeg" alt="">
                        <div>
                            <a href="https://indianexpress.com/article/cities/delhi/delhi-news-live-updates-mcd-mayoral-polls-aap-bjp-8400445/  "><h5>Stones pelted at students screening BBC’s Modi documentary in JNU</h5></a>
                            <p>2023-01-24</p>
                        </div>
                    </div>
                    <div class="recent-posts1">
                        <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2022-10/19/full/1666149541-049.jpg"
                            alt="">
                        <div>
                            <a href="https://www.business-standard.com/article/companies/apple-updating-ad-search-features-to-separate-os-from-alphabet-report-123012500437_1.html"><h5>Apple updating ad, search features to separate OS from Google</h5></a>
                            <p>2023-01-25</p>
                        </div>
                    </div>

                    <div class="recent-posts1">
                        <img src="https://i2-prod.mirror.co.uk/incoming/article29000606.ece/ALTERNATES/s1200/1_Lionel-Messi-25.jpg"
                            alt="">
                        <div>
                            <a href="https://www.mirror.co.uk/sport/football/transfer-news/lionel-messi-psg-contract-barcelona-29044021"><h5>Lionel Messi rejects PSG contract after World Cup triumph changed his mind</h5></a>
                            <p>2023-01-25</p>
                        </div>
                    </div>

                </div>

                <div class="trending-now">
                    <h6>Trending news</h6>
                    <div class="trending-now1">

                        <img src="https://images.livemint.com/img/2023/01/25/600x338/Tata_Motors_1674636267982_1674636268290_1674636268290.jpg"
                            alt="">
                        <div>
                            <a href="https://www.livemint.com/companies/company-results/tata-motors-q3-net-profit-at-rs-rs-2-957-71-cr-revenue-jumps-23-11674635976403.html"><h5>Firm posts first profit in two years on demand surge</h5></a>
                            <p>2023-01-25</p>
                        </div>
                    </div>
                    <div class="trending-now1">
                        <img src="https://c.ndtvimg.com/2023-01/9toftdio_sania-mirza-rohan-bopanna-twitter_625x300_25_January_23.jpg"
                            alt="">
                        <div>
                            <a href="https://sports.ndtv.com/tennis/i-am-36-he-is-42-and-we-are-still-playing-sania-mirza-on-reaching-australian-open-mixed-doubles-final-with-rohan-bopanna-3723255"><h5>Sania Mirza On Reaching Australian Open Mixed Doubles</h5></a>
                            <p>2023-01-25</p>
                        </div>
                    </div>

                    <div class="trending-now1">
                        <img src="https://etimg.etb2bimg.com/thumb/msid-97317004,imgsize-6030,width-1200,height-628,overlay-ethealthworld/even-brief-exposure-to-air-pollution-may-impair-brain-function-study.jpg"
                            alt="">
                        <div>
                            <a href="https://health.economictimes.indiatimes.com/news/diagnostics/even-brief-exposure-to-air-pollution-may-impair-brain-function-study/97317004"><h5>Even brief exposure to air pollution may impair brain function</h5></a>
                            <p>2023-01-25</p>
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <h6>Post gallery</h6>
                <div class="post-gallery">
                    <div>
                       <a href="https://www.barcablaugranes.com/barcelona-copa-del-rey/2023/1/25/23570071/barcelona-real-sociedad-copa-del-rey-team-news-match-preview-lineups-score-prediction"><img src="https://cdn.vox-cdn.com/thumbor/sq2IYWErhFzzHyrqTm5-rL6OYg8=/0x261:2133x1378/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/24383647/1455542901.jpg"
                        alt=""></a>
                            <a href="https://www.slurrp.com/article/from-farm-to-table-understanding-the-role-of-fssai-in-ensuring-safe-food-for-all-1674640337804"><img src="https://images.slurrp.com/prodarticles/pi4txo8sech.webp" alt=""></a>
                            <a href="https://www.sportskeeda.com/minecraft/what-smithing-templates-minecraft-snapshot-23w04a"><img src="https://staticg.sportskeeda.com/editor/2023/01/4fe0b-16746206210581-1920.jpg" alt=""></a>
                    </div>

                    <div>
                        <a href="https://www.news18.com/news/movies/kl-rahul-athiya-shetty-wedding-virat-kohli-gifts-bmw-car-worth-rs-2-17-cr-suniel-shetty-gives-rs-50-cr-flat-6914377.html"><img src="https://images.news18.com/ibnlive/uploads/2023/01/athiya-shetty-kl-rahul-wedding-pics-6-1-167463636416x9.jpg"
                            alt=""></a>
                            <a href="https://www.ndtv.com/offbeat/watch-shweta-tiwari-and-vikaas-kalantri-groove-to-jhoome-jo-pathaan-fans-shower-love-3725722"><img src="https://c.ndtvimg.com/2023-01/b7a97s7g_shweta-tiwari-_625x300_26_January_23.jpg"
                                alt=""></a>
                            <a href="https://www.republicworld.com/world-news/rest-of-the-world-news/eus-josep-borrell-expresses-concern-over-russias-capacity-to-destroy-satellites-in-space-articleshow.html"><img src="https://img.republicworld.com/republic-prod/stories/promolarge/xhdpi/z20hrp693g8a2mag_1674593422.jpeg"
                                alt=""></a> 
                    </div>

                    <div>
                        <a href="https://www.tellybest.com/written-update/bhagya-lakshmi-28th-january-2023-written-update"><img src="https://img.tellybest.com/article/202301/620x330_C_bhagya-lakshmi-28th-january-2023-written-update_1.jpg"
                            alt=""></a> 
                            <a href="https://www.sportskeeda.com/wwe/rumor-bitter-wwe-rivalry-reportedly-set-open-royal-rumble-match"><img src="https://staticc.sportskeeda.com/editor/2023/01/46769-16746699464114-1920.jpg" alt=""></a>
                            <a href="https://scitechdaily.com/?p=246182"><img src="https://scitechdaily.com/images/Researchers-With-17-Pound-Meteorite.jpg" alt=""></a> 
                    </div>

                </div>
            </div>
        </div>
        <!-- horizontal line -->
        <div class="underline">
        </div>


        <div class="footer3">
            <a routerLink="/home"><img src="https://demo.themewinter.com/wp/news247/wp-content/uploads/2017/07/footer-logo.png"></a> 
            <p>News24/7 Worldwide is a popular online newsportal and going source for technical and digital content for
                its influential audience around the globe. You can reach us via email or phone.</p>
            <div class="contacts">
                <p><i class="fa-solid fa-phone"></i> 9072795746</p>
                <p><i class="fa-solid fa-envelope"></i> editor@news247.com</p>

            </div>
            <div class="footer-icons">
                <div>
                    <a routerLink="/home"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
                <div>
                    <a routerLink="/home"><i class="fa-brands fa-twitter"></i></a>
                </div>
                <div>
                    <a routerLink="/home"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div>
                    <a routerLink="/home"><i class="fa-brands fa-google-plus-g"></i></a>
                </div>
                <div>
                    <a routerLink="/home"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <div>
                    <a routerLink="/home"><i class="fa-brands fa-youtube"></i></a>
                </div>
                <div>
                    <a routerLink="/home"><i class="fa-brands fa-pinterest"></i></a>
                </div>
            </div>
        </div>
        <div class="footer4">
            <div class="footer5">
                <div class="copy-right">
                    <p>Copyright &copy; News24/7 2023</p>
                </div>
                <div class="terms">
                    <p>Site Terms</p>
                    <p>Privacy</p>
                    <p>Advertisement</p>
                    <p>Cookies Policy</p>
                    <p>Contact Us</p>
                </div>
            </div>
        </div>

    </div>
</footer>