<div class="main">
<div class="parent">
    <div class="signup">
    <h1>Sign Up</h1>
    <form [formGroup]="registerForm">

     <input formControlName="name" type="text" id="name" placeholder="User name">
     <div *ngIf="this.registerForm.get('name')?.errors && this.registerForm.get('name')?.touched" style="color: red; font-family: 'Kenia', cursive;">Invalid Username</div>

     <input formControlName="email" type="email" id="email" placeholder="Email address">
     <div *ngIf="this.registerForm.get('email')?.errors && this.registerForm.get('email')?.touched" style="color: red; font-family: 'Kenia', cursive;">Invalid Email</div>



     <input formControlName="password" type="password" id="password" placeholder="Password">
     <div *ngIf="this.registerForm.get('password')?.errors && this.registerForm.get('password')?.touched" style="color: red; font-family: 'Kenia', cursive;">Invalid Password</div>



    <div class="checkbox">
    <input type="checkbox" id="checked1" value="checked">
    <label class="checked" for="checked">&nbsp;Accept to the <a routerLink="/register">terms and policies</a></label>
    </div>
    <button type="submit" value="submit" (click)="register()">Sign Up</button>
    <p class="message">Already registered?<a routerLink="">Sign in</a></p>

</form>
</div>
</div>
</div>